.DS_Store
/.idea/.gitignore
/.idea/copilot.data.migration.ask2agent.xml
/.idea/go.imports.xml
/.idea/modules.xml
/.idea/vcmp.iml
/.idea/vcs.xml
/.idea/dictionaries/project.xml
/.idea/inspectionProfiles/Project_Default.xml
/vcmp
